snippet eq "TEST_ASSERT_EQUAL(...)" b
TEST_ASSERT_EQUAL(${1:expected}, ${2:actual})
endsnippet

snippet step "STEP(...)" b
STEP($0${VISUAL})
endsnippet

snippet throws "THROWS(...)" b
THROWS(${1:exception}, $0${VISUAL})
endsnippet
